<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<title>Chart</title>
</head>

<body>
	<div class="container">
		<div class="card">
			<div class="card-header text-white text-center bg-primary">
				<h3>WHUSER ID TYPE PAGE</h3>
			</div>
			<div class="card-body">
				<img th:src="@{/whUserPie.jpg}"> <img th:src="@{/whUserBar.jpg}">
			</div>
		</div>
	</div>
</body>
</html>